<ul class="nav nav-pills">
     <li class="nav-item">
        <a class="nav-link active" href="#">My Articles</a> <!-- активная ссылка -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Create Article</a>
    </li>
</ul>
<h2>My Articles</h2>
<div class="card" style="width: 100%;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>