@using YourBlog.Models
@model List<ArticleViewModel>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="#">My Articles</a> <!-- активная ссылка -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/ChangeArticle">Create Article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/AddCategory">Categories</a>
    </li>
</ul>
<h2>My Articles</h2>
@foreach (var article in Model)
{
    <div class="card" style="width: 100%;">
        <p></p>
        <img class="card-img-top" src="@article.Image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@article.Title</h5>
            <p class="card-text">@article.Description</p>
        </div>
    </div>
}
