@model string

<form action="/User/Login" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input name="login" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="loginHelp" placeholder="Enter Login">
        <small id="emailHelp" class="form-text text-muted">We'll never share your login with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="alert alert-danger" role="alert">
        @Model
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>